<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Contact from example.com</h1>
    <p>
      You have been contacted from <%= @contact_email %>. Message was: <%= @contact_message %>
    </p>
    <p>
        <%= @contact_message %>
    </p>
    <p>Thanks for contacting us and have a great day!</p>
  </body>
</html>