<div class="row">
  <div class="column">
    <div class="card">
        <%= image_tag("joohee.jpeg", size: "300x400", alt: "Image", class: "center") %>
      <div class="container">
        <h2>Joohee Kim</h2>
        <p class="title">Education</p>
        <p>University of Washington, Seattle. -Class of 2017-</p>
        <p>wngmls95@likelion.org</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
        <%= image_tag("hwa.jpeg", size: "300x400", alt: 'Image', class:"center") %>
      <div class="container">
        <h2>Hwa Kim</h2>
        <p class="title">Architecture</p>
        <p>University of Washington, Seattle. -Class of 2015-</p>
        <p>hwak26@likelion.org</p>
        
      </div>
    </div>
    </div>
    <div class="column">
       <div class="card">
        <%= image_tag("heejin.jpeg", size: "300x400", alt: "Image", class:"center") %>
      <div class="container">
        <h2>Heejin Lee</h2>
        <p class="title">Communication</p>
        <p>North Seattle college, Seattle. -Class of 2018-</p>
        <p>heejin5513@likelion.org</p>
      </div>
    </div>
  </div>
</div>