/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.card-img-top{

  position: relative;
    margin: -30% auto;/* virtualy height needed turn don to zero */
    width: 100%;/* height will follow within image ratio */
    height:auto;/* to overrride attribute height set in tag */
    vertical-align:middle;/* finalise vertical centering on baseline*
  

}

.image-crop{
    display:block;
    height:200px;
    line-height:100px;/* set the baseline at 100px from top*/
    overflow:hidden;/* crops/cut off */
    
    object-position: center; /* Center the image within the element */
  
}

#portfolio .portfolio-item .portfolio-link{
  max-height:300px;
}

.card{
  width: 500px;
}

.nav-link{
  display: inline-block !important;
}