<div class="row">
  <div class="column ">
    <div class="signincard">
        <h1>New Product</h1>
        <div class="form-inputs pure-form ">
          <%= render 'form', product: @product %>
          <%= link_to 'Back', products_path %>
        </div>
      </div>
    </div>
</div>


